.dashboard_grid {
  height: 100%;
  color: $red;

  @include media('>=desktop') {
    display: grid;
    margin: auto;
    grid-template-rows: auto 1fr ;
    grid-template-columns: 250px 1fr;
    grid-gap: 0;
    grid-template-areas:
    "nav header"
    "nav main";
  }
}

.dashboard__header {
  grid-area: header;
  background: $dark-blue2;
  border-bottom: 1px solid $blue;
}
.dashboard__nav {
  grid-area: nav;
  background: $dark-blue2;
  border-right: 1px solid $blue;
}
.dashboard__main {
  grid-area: main;
  background: $dark-blue;
  padding: 15px;
}